<div  class="add-song-outer">
    <div class="well btn-info active">
        <div class="well">
            <a href="javascript:history.back(-1);"><md-button class="btn-xs btn-info pull-right">Back to Project</md-button></a>
            <form ng-submit="addSong()">
                <div class="">
                    <label>Song Title:</label><br>
                    <input  required type="text" ng-model="titleText"><br>
                </div>
                <div  class="">
                    <label>Song Description:</label><br>
                    <textarea rows="4" cols="30" style="resize:none;" required type="text" ng-model="descriptionText"></textarea><br>
                </div>
                <div class="">
                    <label>Version Number:</label><br>
                    <input required name="version" type="number" ng-model="versionText"><br>
                </div>
                <file-field required ng-model="uploadFile">Add File</file-field>
                <button type="submit" class="btn btn-success">Upload Song</button>
            </form>
        </div>
    </div>
</div>