<div  class="add-song-outer">
    <div class="well btn-info active">
        <h1>Upload a Song!</h1>
        <hr>
        <div class="well">
            <form ng-submit="addSong()">
                    <label>Song Title:</label>
                <md-input-container class="">
                    <input  required type="text" ng-model="titleText"><br>
                </md-input-container>
                    <label>Song Description:</label>
                <md-input-container  class="">
                    <input required type="text" ng-model="descriptionText"><br>
                </md-input-container>

                    <label>Version Number:</label>
                <md-input-container class="">
                    <input required name="version" type="text" ng-model="versionText"><br>
                </md-input-container>
                <div class="add-file btn-info active"><file-field required ng-model="uploadFile">Add File</file-field></div><br>
                <md-button type="submit" class="btn btn-success">Upload Song</md-button>
            </form>
        </div>
            <hr>
    </div>
</div>