<md-dialog class="well btn-info active" flex="33">
    <md-dialog-content class="well">
        <form ng-submit="addSong()">
            <div class="well">
                <label>Song Title:</label>
                <input type="text" ng-model="newSong.name"><br>
            </div>
            <div class="well">
                <label>Song Description:</label>
                <input type="text" ng-model="newSong.description"><br>
            </div>
            <div class="well">
                <label>Version Number:</label>
                <input name="version" type="text" ng-model="newSong.version"><br>
            </div>
            <div class="well">
                <label>File:</label>
                 <input type="file" fileread="uploadme.src"/>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <button ng-click="closeModal()" type="button" class="btn btn-danger">Close</button>
    </md-dialog-content>
</md-dialog>