<div class="well btn-info active">
    <form class="well">
        <!-- for development -->
        current user id ={{currentUser.id}}
        <!-- delete for production -->
        <input type="hidden" name="user" value="{{currentUser.id}}">
        <label>Project Title</label>
        <input type="text" ng-model="newProject.name">
        <label>Description</label>
        <input type="text" ng-model="newProject.description">
        <button ng-click="createProject()" type="submit" class="btn btn-info">Create Project {{project.name}}</button>
    </form>
</div>