<div class="well new-project btn-info active">
    <form ng-submit="createProject()" class="well">
    <a class="glyphicon glyphicon-chevron-left pull-right btn-sm btn-info" href="projects/{{currentUser.id}}"></a>
    <h1>Create a Project</h1>
        <input type="hidden" name="user" value="{{currentUser.id}}">
        <label>Project Title</label>
        <md-input-container><input type="text" ng-model="newProject.name" required></md-input-container><br>
        <label>Description</label>
        <md-input-container><input type="text" ng-model="newProject.description" required></md-input-container><br>
        <button type="submit" class="btn btn-info">Create Project {{project.name}}</button>
    </form>
</div>