<div class="container">
  <div class="col-md-12">
    <!-- intro home page, user not logged in -->
    <div ng-hide="currentUser" class="home-view-outer btn-info well active">
      <div class="well text-center home-view-inner">
       <h1><b>Q:</b> What is BandStorm?</h1>
       <md-button class="btn btn-info" ng-class="{hide:showInfo}" ng-click="showInfo=!showInfo">I want to know.</md-button>
        <div class="shower" ng-show="showInfo">
          <hr>
          <h2><b>A:</b> Version control for your music, with a focus on collaboration.</h2>
          <div id="info1" class="info-hover col-md-4">
            <div class="well btn-info active">
              <h1 class="glyphicon glyphicon-cloud-upload"></h1>
              <h2>Upload.</h2>
              <div class="well info-well">Upload your songs directly. We track version for you and you can access any version at any time.</div>
            </div>
          </div>
          <div id="info2" class="info-hover col-md-4">
            <div class="well btn-info active">
              <h1 class="glyphicon glyphicon-headphones"></h1>
              <h2>Listen.</h2>
              <div class="well info-well">Access any version in file view to listen in browser or download mp3 from our database.</div>
            </div>
          </div>
          <div id="info3" class="info-hover col-md-4">
            <div class="well btn-info active">
              <h1 class="glyphicon glyphicon-globe"></h1>
              <h2>Collaborate.</h2>
              <div class="well info-well">Link your friends to your latest song for them to download, edit, and reupload. Use our real-time chat to collaborate.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Plain view for user logged in. -->
    <div ng-hide="!currentUser" class="well home-view-outer btn-info active">
      <div class="text-center well home-view-inner">
        <h1>Welcome back, {{currentUser.name}}</h1>
        <div class="well btn-info active">
        <h2>What would you like to do?</h2>
        <hr>
        <a class="no-link-decoration" href="/projects/{{currentUser.id}}"><md-button class="btn-info btn"><i class="glyphicon glyphicon-folder-open"></i><br>View my Projects</md-button></a> |
        <a class="no-link-decoration" href="/project/new"><md-button class="btn-info btn"><i class="glyphicon glyphicon-plus"></i><br>Make a new project</md-button></a> |
        <a class="no-link-decoration"><md-button class="btn-info btn"><i class="glyphicon glyphicon-bullhorn"></i><br>Chat with friends</md-button></a>
        </div>
      </div>
    </div>
  </div>
</div>
  <div ng-controller="ChatCtrl">
    <div class="chat-window" ng-show="currentUser">
      <ul class="chat-list">
        <li ng-repeat="msg in messages">
          <b>{{msg.from}}:</b> {{msg.msg}}
        </li>
      </ul>
      <form class="inline-form" ng-submit="sendMsg()">
        <input ng-model="msgText" type="text" placeholder="Say something" />
        <button class="btn btn-xs btn-primary" type="submit">Send</button>
      </form>
    </div>
  </div>


