<div class="container">
  <div class="col-md-12">
    <div class="home-view-outer btn-info well active">
      <div class="well text-center home-view-inner">
       <h1><b>Q:</b> What is BandStorm?</h1>
       <md-button class="btn btn-info" ng-class="{hide:showInfo}" ng-click="showInfo=!showInfo">I want to know.</md-button>
        <div class="shower" ng-show="showInfo">
          <hr>
          <h2><b>A:</b> Version control for your music, with a focus on collaboration.</h2>
          <div id="info1" class="info-hover col-md-4">
            <div class="well btn-info active">
              <h1 class="glyphicon glyphicon-cloud-upload"></h1>
              <h2>Upload.</h2>
              <div class="well info-well">Upload your songs directly. We track version for you and you can access any version at any time.</div>
            </div>
          </div>
          <div id="info2" class="info-hover col-md-4">
            <div class="well btn-info active">
              <h1 class="glyphicon glyphicon-headphones"></h1>
              <h2>Listen.</h2>
              <div class="well info-well">Access any version in file view to listen in browser or download mp3 from our database.</div>
            </div>
          </div>
          <div id="info3" class="info-hover col-md-4">
            <div class="well btn-info active">
              <h1 class="glyphicon glyphicon-globe"></h1>
              <h2>Collaborate.</h2>
              <div class="well info-well">Link your friends to your latest song for them to download, edit, and reupload. Use our real-time chat to collaborate.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- page layout for project view -->
<!-- <div class="row">
  <div class="col-md-3">
    <div class="well project-view-outer btn-info active">
      <div class="well project-view-inner">
        <h1>File View</h1>
        <ul>
          <li>ng-repeat here</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="well file-view-outer btn-info active">
      <div class="well file-view-inner">
        <h1>Show Area</h1>
      </div>
    </div>
  </div>
</div> -->