<md-dialog class="row" flex="33">
  <md-dialog-content class="btn-info active col-md-12">
      <md-button ng-click="closeModal()" class="pull-right no-padding"><b>X</b></md-button>
      <h3 class="btn-info active">Login to BandStorm</h3>
      <form class="well" ng-submit="logIn()">
        <md-input-container>
          <label>Email</label>
          <input required type="email" ng-model="user.email">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input required type="password" ng-model="user.password">
        </md-input-container>
        <md-button type="submit" class="btn btn-info">Log In</md-button>
      </form>
  </md-dialog-content>
</md-dialog>