<div class="row">
  <div class="col-md-3">
    <div class="well project-view-outer btn-info active">
      <div class="well project-view-inner">
        <h3><i class="glyphicon glyphicon-hdd"></i>&nbsp;{{project.name}}<a href="/project/{{project.id}}/song/new" class="btn-sm btn-success glyphicon glyphicon-plus no-link-decoration pull-right"><md-tooltip>Add a Song</md-tooltip></a><a href="/projects/{{currentUser.id}}" class="btn-sm btn-info glyphicon glyphicon-chevron-left no-link-decoration pull-right"><md-tooltip>Back to Projects</md-tooltip></a></h3>
        <hr>
          <h5 ng-if="project.songs.length===0">No songs yet... Add a song!</h5>
          <h4 ng-hide="project.songs.length===0" ng-click="collapseSong=!collapseSong"><i ng-hide="collapseSong" class="glyphicon-folder-close glyphicon"></i><i ng-click="collapseVersion=!collapseVersion" ng-show="collapseSong" class="glyphicon-folder-open glyphicon"></i>&nbsp;Songs</h4>
          <ul class="list-group" ng-repeat="item in project.songs | orderBy:'name' track by $index">
            <li ng-show="collapseSong" ng-click="collapseVersion=!collapseVersion" class="list-group-item"><i class="glyphicon glyphicon-file" ng-hide="collapseVersion"></i><i class="glyphicon glyphicon-open-file" ng-show="collapseVersion"></i>&nbsp;{{item.name}} v{{item.version}}</li>
            <ul class="list-group" ng-if="collapseVersion">
              <li class="list-group-item"></li>
              <li class="list-group-item">- Version: {{item.version}} <a ng-click="playVersion($index)" class="btn-xs btn-info"><b>Play Version</b></a></li>
              <li class="list-group-item">- Description: {{item.description}}</li>
              <li class="list-group-item">- Uploaded: {{item.createdAt | date:'short'}}</li>
              <li class="list-group-item">- Link: <a href="{{item.s3url | trustUrl}}" download>Download</a></li>
            </ul>
          </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="well file-view-outer btn-info active">
      <div class="well file-view-inner text-center">
      <h1 ng-if="project.songs.length === 0">Hmm... Well {{project.users[0].name}}, I've got nothing to show here. Add a song?</h1>
      <div ng-show="project.songs.length > 0">
        <h1>{{project.songs[currentTrack].name}} v{{project.songs[currentTrack].version}} by {{project.users[0].name}}</h1>
        <h4>{{project.songs[currentTrack].createdAt | date:'shortDate'}}</h4>
        <audio  controls ng-src="{{project.songs[currentTrack].s3url | trustUrl}}"><br></audio>
      </div>
      </div>
    </div>
  </div>
</div>