<div class="row">
  <div class="col-md-3">
    <div class="well project-view-outer btn-info active">
      <div class="well project-view-inner">
        <h3><i class="glyphicon glyphicon-hdd"></i>&nbsp;{{project.name}}<button ng-click="addSongModal()" class="pull-right btn-success ">+<md-tooltip>Add a Song</md-tooltip></button></h3>
        <hr>
          <h5 ng-if="project.songs.length===0">No songs yet... Add a song!</h5>
          <h4 ng-hide="project.songs.length===0" ng-click="collapseSong=!collapseSong"><i ng-hide="collapseSong" class="glyphicon-folder-close glyphicon"></i><i ng-show="collapseSong" class="glyphicon-folder-open glyphicon"></i>&nbsp;Songs</h4>
          <ul class="list-group" ng-repeat="item in project.songs | orderBy:'-name' track by $index">
            <!-- <li ng-hide="value < 1" ng-repeat="(key,value) in item"><p>{{key}}: {{value}}</p></li> -->
            <li ng-show="collapseSong" ng-click="collapseVersion=!collapseVersion" class="list-group-item"><i class="glyphicon glyphicon-file" ng-hide="collapseVersion"></i><i class="glyphicon glyphicon-open-file" ng-show="collapseVersion"></i>&nbsp;{{item.name}} v{{item.version}}</li>
            <ul class="list-group" ng-if="collapseVersion">
              <li class="list-group-item">- Version: {{item.version}}</li>
              <li class="list-group-item">- Description: {{item.description}}</li>
              <li class="list-group-item">- Uploaded: {{item.createdAt | date:'short'}}</li>
              <li class="list-group-item">- Link: <a href="{{item.s3url | trustUrl}}" download>Download</a></li>
            </ul>
          </ul>

        <!-- json view for development -->
     <!--    <ul>
          <li ng-repeat="(key,item) in project">{{key}}: {{item}}</li>
        </ul> -->
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="well file-view-outer btn-info active">
      <div class="well file-view-inner text-center">
        <li ng-repeat="(key, value) in project[0]">{{key}}: {{value}}</li>


        <audio ng-if="project[0].s3url.length > 1" controls ng-src="{{project[0].s3url | trustUrl}}"></audio>
      </div>
    </div>
  </div>
</div>