<div class="row">
  <div class="col-md-3">
    <div class="well project-view-outer btn-info active">
      <div class="well project-view-inner">
        <h1>Project Name <i class="pull-right btn-sm btn-success glyphicon glyphicon-plus"><md-tooltip>Add a Song</md-tooltip></i></h1>
        <ul>
          <li>ng-repeat here</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="well file-view-outer btn-info active">
      <div class="well file-view-inner text-center">
        <h1>Show Area</h1>
      </div>
    </div>
  </div>
</div>