<div class="row">
  <div class="col-md-12">
    <div class="well project-view-outer btn-info active">
      <div class="well project-view-inner">
        <table class="table table-hover">
          <legend>{{currentUser.name}}'s Projects <a href="/project/new" class="btn-sm btn-success glyphicon glyphicon-plus no-link-decoration pull-right"><md-tooltip>Create a New Project</md-tooltip></a><i ng-click="helpModal()" class="btn-sm btn-warning glyphicon glyphicon-question-sign no-link-decoration pull-right"><md-tooltip>Help</md-tooltip></i></legend>
          <thead>
            <tr>
              <th><a ng-click="orderField='name'"><i class="glyphicon glyphicon-chevron-down" ng-show="orderField==='name'"></i>Project Name:</a></th>
              <th><a ng-click="orderField='description'"><i class="glyphicon glyphicon-chevron-down" ng-show="orderField==='description'"></i>Description:</a ></th>

            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in projects.projects | orderBy:orderField">
              <td><a href="/projects/{{currentUser.id}}/project/{{item.id}}">{{item.name}}</a></td>
              <td>{{item.description}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>