<div ng-app="BandStormApp">
  <div class="row">
      <div class="col-md-12">
        <div class="nav-bar nav btn-info active">
          <md-button class="pull-left brand  btn-info btn-xs active"><i class="logo glyphicon glyphicon-flash"></i>&nbsp;<a href="/" class="no-link-decoration">BandStorm</a></md-button>
          <ul class="list-group navigators" ng-controller="AuthCtrl">
            <md-button ng-show='currentUser' ng-click="logOut()" class="list-group-item pull-right btn btn-info"><b>Logout</b></md-button>
            <a class="no-link-decoration" href="/projects/{{currentUser.id}}"><md-button ng-show='currentUser' class="list-group-item pull-right btn btn-info">{{currentUser.name}}'s Projects<md-tooltip>Go to Project View</md-tooltip></md-button></a>

            <md-button ng-hide='currentUser' ng-click="logInModal()" class="list-group-item pull-right btn btn-info"><b>Login<md-tooltip>Go to Login Page</md-tooltip></b></md-button>
            <md-button ng-hide='currentUser' ng-click="signUpModal()" class="list-group-item pull-right btn btn-info"><b>Signup<md-tooltip>Go to Signup Page</md-tooltip></b></md-button>
          </ul>
        </div>
      </div>
    </div>
  <ng-view></ng-view>
  <div class="col-md-12">
        <div class="nav-bar nav active">
        <div ng-controller="ChatCtrl">
    <div class="chat-window" ng-show="currentUser">
      <ul class="chat-list">
        <li ng-repeat="msg in messages">
          <b>{{msg.from}}:</b> {{msg.msg}}
        </li>
      </ul>
      <md-input-container ng-submit="sendMsg()">
        <input ng-model="msgText" type="text" placeholder="Say something" />
        <button class="btn btn-xs btn-primary" type="submit">Send</button>
      </md-input-container>
    </div>
  </div>
        </div>
      </div>
</div>