<div ng-app="BandStormApp">
  <div class="row" ng-controller="AuthCtrl">

    <div class="col-md-12">
      <div class="nav-bar nav btn-info active">
        <a href="/"><md-button class="pull-left brand  btn-info btn-xs active"><i class="glyphicon glyphicon-flash logo"></i>&nbsp;<b class="logo-text no-link-decoration">BandStorm</b></md-button></a>
          <ul class="list-group navigators">
            <md-button ng-show='currentUser' ng-click="logOut()" class="list-group-item pull-right btn btn-info"><b>Logout<md-tooltip>Get me outta here!</md-tooltip></b></md-button>
            <a class="no-link-decoration" href="/projects/{{currentUser.id}}"><md-button ng-show='currentUser' class="list-group-item pull-right btn btn-info">{{currentUser.name}}'s Projects<md-tooltip>Go to Project View</md-tooltip></md-button></a>



            <md-button ng-hide='currentUser' ng-click="logInModal()" class="list-group-item pull-right btn btn-info"><b>Login<md-tooltip>Go to Login Page</md-tooltip></b></md-button>
            <md-button ng-hide='currentUser' ng-click="signUpModal()" class="list-group-item pull-right btn btn-info"><b>Signup<md-tooltip>Go to Signup Page</md-tooltip></b></md-button>
          </ul>
      </div>
    </div>
  </div>
  <ng-view></ng-view>
  <band-storm-chat />
</div>