*{
  /*transition:all .1s ease;*/
  -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.brand{
  font-size: 2em;
}
.project-view-inner{
  height:100%;
  margin:0;
  padding:0;
}
.project-view-outer{
  height:90%;
  margin:0;
  padding:0;
}
.file-view-inner{
  height:100%;
  margin:0;
  padding:0;
}
.file-view-outer{
  height:90%;
  margin:0;
  padding:0;
}
.no-link-decoration, .no-link-decoration:focus, .no-link-decoration:hover{
  position: relative;
  text-decoration: none;
  color: white;
}

.home-view-inner{
  height:auto;
  margin:0;
  padding:0;
}
.home-view-outer{
  height:auto;
  margin:0;
  padding:0;
}
.shower{
  animation: fadeInDown 0.5s;

}
.nav{
  margin-bottom: 15px;
  padding: 2px;
}
.info-well{
  font-size: 1.2em;
}
.my-drop-zone{
  /*padding: 50px;*/
  text-align: center;
  border:dotted 2px rgba(0,0,0,0.1);
  width: 15%;
  height: 10%;
}
