*{

  -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.brand{
  font-size: 2em;
  position: absolute;
  top: 5px;
}
.navigators{
  background-color: #FFD936;
}
.new-project{
  animation: rollIn .5s;
}
.project-view-inner{
  max-height:100%;
  margin:0;
  padding:0;
}
.project-view-outer{
  max-height:90%;
  margin:0;
  padding:0;
  animation: fadeInLeft .3s;
}
body > div > ng-view > div > div.col-md-3 > div > div > ul{
  height: auto;
  width: auto;
  margin:0;
  padding:0;
  overflow: scroll;
  animation: fadeInLeft .3s;
}
.projects-view-inner{
  max-height:90%;
  margin:0;
  padding:0;
}
.projects-view-outer{
  max-height:100%;
  margin:0;
  padding:0;
  animation: bounceInUp .6s;

}
.file-view-inner{
  max-height:100%;
  margin:0;
  padding:0;


}
.file-view-outer{
  max-height:90%;
  margin:0;
  padding:0;
  animation: fadeInRight .3s;
}
.no-link-decoration, .no-link-decoration:focus, .no-link-decoration:hover{
  position: relative;
  text-decoration: none;
  color: white;
}

.home-view-inner{
  height:auto;
  margin:0;
  padding:0;
  /*animation: zoomInDown 1s, fadeIn 1s;*/

}
.home-view-outer{
  height:auto;
  margin:0;
  padding:0;
  animation: zoomInDown .5s;

}
.shower{
  animation: jello .3s, fadeIn .6s;

}
.nav{
  margin-bottom: 15px;
  padding: 2px;
  animation: zoomInDown 1s, fadeIn 1s;

}
.info-well{
  font-size: 1.2em;
}
body{
  background-image: url('http://images.wisegeek.com/audio-mixer-knobs.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110% auto;
}
.opaque{
  opacity: 0.5;
}
.logo{
  color: #FFD936;
}
.add-song-outer{
  animation: rollIn .5s;
}
.add-file{
  border: dotted rgba(0,0,0,0.5) 2px;
  width: 8%;
  /*height: 80%;*/
}






